streamlit==1.45.0
langchain==0.3.25
langchain-community==0.3.23
chromadb==1.0.8
sentence-transformers==4.1.0
huggingface-hub>=0.30.0
transformers==4.51.3
langid==1.1.6
PyMuPDF==1.25.5
bitsandbytes==0.45.5
accelerate==1.6.0
sentencepiece==0.2.0
Pillow==11.2.1
pypdf==5.4.0
